################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bblog.ApiTests/bin/Debug/net6.0
/.vs/Bblog.Tests
/Bblog.ApiTests/obj
/Bblog.Tests/bin/Debug/net6.0
/Bblog.Tests/obj
/Bblog.Tests/bin/Debug/net5.0
/obj
/bin/Debug/net6.0
/bin/Debug/net5.0
/TestResults/Screenshots
/Test.png
